.about {
  height: 66vh;
  background-image: url(../../../assets/pexels-pervane-mustafa27-716709928-18286678.jpg);
  background-repeat: no-repeat;
  background-size: 100%;

  background-position: center;

  text-align: center;
}

h1 {
  position: relative;
  font-size: 50px;
  opacity: 1 !important ;
  font-weight: bolder;
  color: #561c24;
  font-family: "Dancing Script", cursive;
}

.head,
h6 {
  text-align: center;
  font-weight: bolder;

  margin-top: 50px;
  color: #000000;
  font-family: "Dancing Script", cursive;
}
.headpara {
  text-align: center;
  font-weight: bolder;
  margin-top: 50px;
  color: #2b2626;

  font-size: large;
  font-family: sans-serif;
}
div of all cards .cardsedit {
  margin-top: 50px;
  border: none;
  width: 300px;
  height: 300px;
}
/* div of iamges of the card  and the text  */
.images {
  /* width: 500px;
    height: 200px;  */
  text-align: center;
  align-items: center;
}
.card {
  text-align: center;
  align-items: center;
  border: none !important;
}
.textedit {
  color: #561c24 !important;
  font-size: 30px;
  font-weight: bolder;
  font-family: "Dancing Script", cursive;
}
.memcards {
  margin-top: 60px;
  justify-content: center;
}
.memcard {
  width: 1000px;
  align-items: center;
  text-align: center;
  border-radius: 15px;
  padding: 10px;
}
.immedit {
  border-radius: 15px !important;

  overflow: hidden; /* Ensures child image respects the radius */
}

.headpara2 {
  text-align: center;
  padding-left: 20px;
  font-weight: 600;
  margin-top: 2vh;
  color: #000000;
  font-size: large;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.card {
  background-color: #fcf9f5;
}

@media (max-width: 600px) {
  .headpara2 {
    text-align: start;
    padding-left: 20px;
    font-weight: 600;
    margin-top: 2vh;
    color: #000000;

    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
}

@media (max-width: 400px) {
  .headpara2 {
    font-size: 15px;
    text-align: start;
    padding-left: 20px;
    font-weight: 600;
    margin-top: 2vh;
    color: #000000;

    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
}
