.nav {
  background-color: #e8d8c4;
  height: 18vh;
}
.logo {
  height: 15vh;
}
.color {
  color: #561c24;
}
.navItem {
  font-weight: 800;
  color: #6d2932;
}
._bo :hover {
  font-weight: 800;
  color: #561c24;
}
.profile{
  font-family: "Dancing Script", cursive;
}
@media (max-width: 991px) {
  .full-width-navbar {
    width: 100% !important;
    padding: 0.5rem 2rem;
    background-color: #e8d8c4;
  }
  .navbar-nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-item {
    width: 100%;
    margin: 0.5rem 0;
    border-bottom: #561c24 1px solid;
  }

  .navbar-toggler {
    margin-right: 10px;
  }
}
.container-fluid {
  margin: 0px !important;
  padding: 0px !important;
}
.bo {
  border-bottom: #561c24 1px solid;
}
