<app-header></app-header>
<div class="col-12 main">
  <div class="col-12 d-flex flex-column mt-5 mb-4 align-items-center ma">
    <div class="d-flex justify-content-center col-10 mb-4">
      <h2>
        <i class="bi bi-journal-text d-inline"></i>
        <p class="d-inline ms-2">{{ selectedCategoryName }} RECIPES</p>
      </h2>
    </div>
    <div class="col-lg-8 mb-5 col-md-9 col-10">
      <ng-select
        class="custom-ng-select"
        [items]="selectedOptions"
        bindLabel="displayName"
        bindValue="id"
        placeholder="Search by keyword"
        [(ngModel)]="selectedCategory"
        (ngModelChange)="onCategorySelected($event)"
        [searchable]="true"
      >
      </ng-select>
    </div>

    <div
      class="d-flex justify-content-center col-md-10 col-11 col-lg-10"
      *ngIf="emptyCategory == false"
    >
      <div class="col-12 d-flex justify-content-center flex-wrap">
        <!--image-->
        <div
          *ngFor="let recipe of topRated"
          class="col-lg-4 col-md-6 col-10 d-flex justify-content-center mb-3"
        >
          <div class="col-10 d-flex flex-column justify-content-between">
            <div class="imgH">
              <a (click)="getRecipe(recipe.recipeID)" style="cursor: pointer">
                <img
                  [src]="recipe.image"
                  class="img-fluid w-100 h-100 object-fit-cover"
                />
              </a>
            </div>
            <div>
              <a (click)="getRecipe(recipe.recipeID)" style="cursor: pointer"
                ><h5 class="text-center col-12 mt-3">{{ recipe.title }}</h5></a
              >
            </div>

            <div
              class="d-flex justify-content-center align-items-center flex-column flex-lg-row flex-md-row"
            >
              <div
                class="col-12 col-lg-6 col-md-6 d-flex justify-content-center x"
              >
                <app-star-rating [rating]="recipe.avgRating"></app-star-rating>
              </div>
              <div class="avg">{{ recipe.avgRating }} Average</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h3
      *ngIf="emptyCategory"
      class="d-flex justify-content-center col-md-10 col-11 col-lg-10"
    >
      OOPs, This Category is empty and doesn't have any recipes
    </h3>
  </div>
</div>
<app-footer></app-footer>
