<app-header></app-header>

<div class="col-12">
  <div
    class="col-12 d-flex align-items-center flex-column justify-content-between mt-5 mb-5"
  >
    <!--data about recipe-->
    <div class="col-10 col-lg-6 col-md-7 d-flex flex-column">
      <div class="d-flex align-items-start d-flex justify-content-start">
        <h2 class="col-4 col-lg-3 col-md-4">Recipe Name:</h2>
        <p class="col-8">{{ recipe.title }}</p>
      </div>
      <div class="d-flex align-items-center">
        <h2>Cuisine Type:</h2>
        <p class="pt-3 ms-2">{{ recipe.cuisineType }}</p>
      </div>
      <div class="d-flex align-items-center">
        <h2>Author:</h2>
        <p class="pt-3 ms-2">{{ recipe.creatorName }}</p>
      </div>
      <div class="d-flex align-items-center">
        <h2>Rating:</h2>
        <app-star-rating
          [rating]="recipe.avgRating"
          class="ms-2 z-0"
        ></app-star-rating>
        <p class="ms-1 pt-3">{{ recipe.avgRating }}</p>
      </div>
    </div>
    <!--recipe image-->
    <h4 class="text-center">"{{ recipe.description }}"</h4>
    <div class="imgheight col-10 col-lg-6 col-md-7 d-flex flex-column mb-1">
      <img
        [src]="recipe.image"
        class="img-fluid w-100 h-100 object-fit-cover rounded-4"
      />
    </div>
    <!--Comments-->

    <div class="col-10 col-lg-6 col-md-7 d-flex flex-column mb-2 box">
      <div class="d-flex justify-content-around align-items-center">
        <button
          type="button"
          class="x rounded-3 col-5 col-lg-3 h-75"
          (click)="clicked = !clicked"
        >
          Comments
        </button>
        <i
          class="bi"
          [class.bi-bookmark]="!isSaved"
          [class.bi-bookmark-fill]="isSaved"
          [style.color]="isSaved ? '#561c24' : '#561c24'"
          (click)="toggleBookmark()"
        ></i>
      </div>
    </div>
    <div
      *ngIf="clicked"
      class="col-10 col-lg-6 col-md-7 d-flex flex-column mb-2"
    >
      <div
        *ngFor="let comment of recipe.comments"
        class="commentContainer rounded-3 col-12 d-flex flex-column justify-content-center ps-3 mb-2"
      >
        <div class="d-flex justify-content-start align-items-center">
          <p class="comment">{{ comment.userName }}</p>
          <p class="commentDate ms-2 pt-1">({{ comment.createdAt | date }})</p>
        </div>
        <p class="commentBody">{{ comment.content }}</p>
      </div>
    </div>
    <!--recipe ingredients-->
    <div class="col-10 col-lg-6 col-md-6">
      <h3>Ingredients:</h3>
      <ul class="ingredients-list ms-3">
        <li *ngFor="let ingredient of recipe.ingredients">
          <label>
            <input type="checkbox" />
            <span>
              {{ ingredient.quantity }} {{ ingredient.unit }} of
              <strong>{{ ingredient.ingredientName }}</strong>
            </span>
          </label>
        </li>
      </ul>
    </div>
    <!--Info about recipe-->
    <div
      class="col-10 col-lg-6 col-md-6 d-flex flex-column justify-content-center"
    >
      <div class="d-flex">
        <h3>Description:</h3>
        <p class="ms-2 pt-1">{{ recipe.instructions }} minutes</p>
      </div>
      <div class="d-flex align-items-center">
        <h3>Preparation Time:</h3>
        <p class="pt-3 ms-2">{{ recipe.prepTime }} minutes</p>
      </div>
      <div class="d-flex align-items-center">
        <h3>Cooking Time:</h3>
        <p class="pt-3 ms-2">{{ recipe.cookingTime }} minutes</p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
