<app-header></app-header>
<div class="col-12">
  <div class="col-12 justify-content-center d-flex mb-2 p">
    <div
      class="col-12 d-flex flex-column justify-content-start align-items-center"
    >
      <!--Profile -->
      <div
        class="ps-4 pb-3 pt-3 col-12 d-flex flex-row align-items-center userDataContanier"
      >
        <div class="rounded-4 imgContainer">
          <img
            class="object-fit-contain img-fluid w-125 h-100 rounded-circle"
            [src]="user.profileImageUrl"
          />
        </div>
        <div class="ms-3 pt-3">
          <p class="UserName">
            {{ user.userName }}
            <a (click)="EditData()" style="cursor: pointer"
              ><i class="bi bi-pencil-square"></i
            ></a>
          </p>
        </div>
      </div>
      <h1 class="text-center mt-3 d-block typing">
        Welcome Back {{ user.userName }}
      </h1>
      <!--Saved Posts-->
      <div
        class="ps-3 ps-lg-0 ps-md-0 col-12 col-lg-8 col-md-7 mt-lg-0 mt-md-0 mt-2"
      >
        <div class="col-12" *ngIf="!noFav">
          <p class="saved text-center">Saved Recipes</p>
          <div class="col-12 d-flex justify-content-center flex-wrap">
            <!--image-->

            <div
              *ngFor="let recipe of fav"
              class="col-lg-4 col-md-6 col-6 d-flex justify-content-center mb-3"
            >
              <div class="col-10 d-flex flex-column justify-content-between">
                <div>
                  <a
                    (click)="getRecipe(recipe.recipeID)"
                    style="cursor: pointer"
                    ><h5 class="text-center col-12 mt-3">
                      {{ recipe.recipeTitle }}
                    </h5></a
                  >
                </div>

                <div
                  class="d-flex justify-content-center align-items-center flex-column"
                >
                  <div
                    class="col-12 col-lg-6 col-md-6 d-flex justify-content-center x"
                  >
                    <app-star-rating [rating]="recipe.rating"></app-star-rating>
                  </div>
                  <div class="avg">{{ recipe.rating }} Average</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <h5 *ngIf="noFav" class="text-center mt-3 nofav">
          You don't have any saved recipes yet. Start exploring and save your
          favorites!
        </h5>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
