<div class="col-12 d-flex justify-content-center">
  <div class="col-md-10 col-8 col-lg-10 d-flex align-items-center flex-column">
    <h1 class="mb-4 mt-5 text-center">Reset password</h1>
    <div
      class="exist rounded-3 p-2 mb-2 text-center col-12 col-lg-4 col-md-5"
      [ngClass]="{
        'visability-hidden': falseemail == false
      }"
    >
      This email not valid
    </div>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
      <!--Email-->
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input
          placeholder="Please enter your email"
          formControlName="email"
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
        <div
          class="kkkk"
          [ngClass]="{
              'visability-hidden': !(
                resetPasswordForm.get('email')?.touched &&
                resetPasswordForm.get('email')?.invalid
              ),}"
        >
          <small style="color: red">
            <p
              *ngIf="
            resetPasswordForm.get('email')?.errors?.['required']
          "
            >
              Email is required
            </p>
            <p
              *ngIf="
                resetPasswordForm.get('email')?.errors?.['pattern']"
            >
              Invalid email format
            </p>
          </small>
        </div>
      </div>
      <!--Password-->
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input
          placeholder="Please enter strong password"
          formControlName="password"
          type="password"
          class="form-control"
          id="exampleInputPassword1"
        />
        <div
          class="kkkk"
          [ngClass]="{
                'visability-hidden': !(
                  resetPasswordForm.get('password')?.touched &&
                  resetPasswordForm.get('password')?.invalid
                ),
               
              }"
        >
          <!-- 'Password is required' message -->
          <small style="color: red">
            <p
              *ngIf="
              resetPasswordForm.get('password')?.errors?.['required']
            "
            >
              Password is required
            </p>
            <p
              *ngIf="
                  resetPasswordForm.get('password')?.errors?.['minlength']"
            >
              Password must be at least 6 characters
            </p>
          </small>
        </div>
      </div>
      <!--Confirm password-->
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label"
          >Confirm Password</label
        >
        <input
          placeholder="Please confirm your password"
          formControlName="confirmPassword"
          type="password"
          class="form-control"
          id="exampleInputPassword1"
        />
        <div
          class="kkkk"
          [ngClass]="{
                'visability-hidden': !(
                  resetPasswordForm.hasError('passwordMismatch') &&
                  resetPasswordForm.get('confirmPassword')?.touched
                ),
               
              }"
        >
          <!-- 'Password is required' message -->
          <small style="color: red">Passwords do not match</small>
        </div>
      </div>
      <button
        [disabled]="resetPasswordForm.invalid"
        type="submit"
        class="btn sign-btn"
        *ngIf="resetted == false"
      >
        Reset Password
      </button>
      <div *ngIf="resetted == true" class="load">
        <button class="btn sign-btn" type="button" disabled>
          <span
            class="spinner-border spinner-border-sm"
            aria-hidden="true"
          ></span>
          <span role="status">Reseting...</span>
        </button>
      </div>
    </form>
  </div>
</div>
